 .u-section-1 {
  background-image: url("images/2e172a758d327bd7a0a3b60c622ec178513fee1e4d240af2812f052daaac089db550445b585261d3d8c24eaee680f16c9ca105472133048a6c6624_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 846px;
}

.u-section-1 .u-image-1 {
  width: 343px;
  height: 360px;
  margin: 82px auto 0;
}

.u-section-1 .u-text-1 {
  letter-spacing: 22px;
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  margin: 45px 20px 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 9.375rem;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  margin: 0 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 7.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-1 .u-text-2 {
    font-size: 5rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-1 .u-image-1 {
    width: 139px;
    height: 137px;
    margin-top: 21px;
  }

  .u-section-1 .u-text-1 {
    letter-spacing: 9px;
    font-size: 1.5rem;
    width: auto;
    margin-top: 33px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.25rem;
    width: auto;
    margin-top: 51px;
    margin-left: -14px;
    margin-right: -14px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 471px;
}

.u-section-2 .u-text-1 {
  font-size: 2.75rem;
  margin: 95px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  width: 844px;
  margin: 41px auto 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  margin: 37px auto 60px;
}

.u-section-2 .u-icon-1 {
  margin-right: 6px;
  font-size: 1.4376em;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 813px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 30px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 723px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 58px 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 12px 12px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 11px 28px 0 0;
}

.u-section-3 .u-image-1 {
  height: 525px;
  margin-top: 31px;
  margin-bottom: 0;
  object-position: 50% 98.55%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 723px;
}

.u-section-3 .u-container-layout-2 {
  padding: 24px 21px 0;
}

.u-section-3 .u-image-2 {
  height: 525px;
  object-position: 50% 98.55%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 22px 23px 0 252px;
}

.u-section-3 .u-text-4 {
  margin: 26px 8px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 406px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 596px;
  }

  .u-section-3 .u-image-2 {
    height: 426px;
    margin-top: 712px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -549px;
    margin-right: 0;
    margin-left: 175px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 595px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 356px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    height: 317px;
    margin-top: 737px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -465px;
    margin-left: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }

  .u-section-3 .u-image-1 {
    height: 617px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 92px;
    padding-left: 88px;
  }

  .u-section-3 .u-image-2 {
    height: 518px;
    margin-top: 712px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -641px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1249px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 514px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -18px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 404px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 380px;
    margin-top: -494px;
    margin-bottom: 114px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 675px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 387px;
    margin-top: 81px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -425px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 417px;
    margin-left: 30px;
    margin-right: 30px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 708px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 872px;
  margin: 53px auto;
}

.u-section-4 .u-image-1 {
  min-height: 354px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/7c25174daed6aabc2cbb543a5d7d64536bc58b891b44df91636b6858fcffd46f9850c6a83016705424b03842414b0d29d7247af434775e7aa93f95_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 40px 20px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 278px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 20px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 632px;
  background-image: url("images/g7be61b4bf81607a7c4377182f277fbbef8bc7d240c6fb45340d7dffb29a7bf18f0d5f08b90bd412008cf35f822db9f77_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 0;
}

.u-section-4 .u-group-1 {
  width: 422px;
  min-height: 258px;
  height: auto;
  margin: 20px -108px 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  text-transform: none;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 823px;
  }

  .u-section-4 .u-image-1 {
    min-height: 396px;
  }

  .u-section-4 .u-group-1 {
    width: 383px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 620px;
  }

  .u-section-4 .u-image-1 {
    min-height: 298px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    min-height: 542px;
  }

  .u-section-4 .u-group-1 {
    width: 303px;
    min-height: 140px;
    margin-top: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1360px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 451px;
  }

  .u-section-4 .u-image-1 {
    min-height: 406px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 676px;
  }

  .u-section-4 .u-group-1 {
    width: 408px;
    min-height: 171px;
    margin-top: 72px;
    margin-left: 78px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1158px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    min-height: 265px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 351px;
  }

  .u-section-4 .u-image-2 {
    min-height: 536px;
  }

  .u-section-4 .u-group-1 {
    width: 330px;
    min-height: 164px;
    margin-right: -48px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-4 {
    font-size: 3rem;
    width: auto;
    margin-right: 40px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1006px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 60px 0 60px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 896px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-image-1 {
  height: 385px;
  margin-bottom: 0;
  margin-top: 74px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 25px auto 0 21px;
}

.u-section-5 .u-text-2 {
  margin: 39px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 597px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: normal;
  margin: 79px 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.5rem;
  font-style: normal;
  margin: 57px 0 0;
}

.u-section-5 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 299px;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 29px;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 11px 1px 0;
}

.u-section-5 .u-text-7 {
  margin: 19px 1px 0;
}

.u-section-5 .u-text-8 {
  margin: 20px 1px 0;
}

.u-section-5 .u-image-2 {
  min-height: 299px;
  background-image: url("images/2a27a6c2d423b6601f7eeeb5a22e0b651f4fea988e77089011b24494edac6eb94ecfb1dd24d78bcb94bbf1f6117a16291c6b82db2b664b676283b8_1280.jpg");
  background-position: 50% 14.14%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 739px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    height: 294px;
    margin-top: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 492px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 246px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    min-height: 246px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-5 .u-image-1 {
    height: 585px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-image-2 {
    min-height: 323px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 461px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 485px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1624px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 28px;
    margin-bottom: 37px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 591px;
  }

  .u-section-5 .u-image-1 {
    height: 284px;
    margin-top: 12px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 13px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 433px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .u-section-5 .u-text-3 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 253px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
  }

  .u-section-5 .u-image-2 {
    min-height: 311px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/fgfg-min.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 879px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  width: 867px;
  font-style: italic;
  margin: 75px auto 0;
}

.u-section-6 .u-text-2 {
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-weight: 700;
  letter-spacing: normal;
  font-size: 3.75rem;
  width: 867px;
  margin: 12px auto 0;
}

.u-section-6 .u-icon-1 {
  width: 60px;
  height: 72px;
}

.u-section-6 .u-list-1 {
  margin-top: 123px;
  margin-bottom: 0;
}

.u-section-6 .u-repeater-1 {
  min-height: 221px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 20px;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  font-weight: 400;
  font-style: italic;
  margin: 47px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px 20px;
}

.u-section-6 .u-text-5 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  font-weight: 400;
  font-style: italic;
  margin: 47px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px 20px;
}

.u-section-6 .u-text-7 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-6 .u-text-8 {
  font-weight: 400;
  font-style: italic;
  margin: 47px 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px 20px;
}

.u-section-6 .u-text-9 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-6 .u-text-10 {
  font-weight: 400;
  font-style: italic;
  margin: 47px 0 0;
}

.u-section-6 .u-list-2 {
  margin-top: 12px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-2 {
  min-height: 221px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px 20px;
}

.u-section-6 .u-text-11 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-6 .u-text-12 {
  font-weight: 400;
  font-style: italic;
  margin: 48px 0 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 10px 20px;
}

.u-section-6 .u-text-13 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-6 .u-text-14 {
  font-weight: 400;
  font-style: italic;
  margin: 48px 0 0;
}

.u-section-6 .u-container-layout-7 {
  padding: 10px 20px;
}

.u-section-6 .u-text-15 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-6 .u-text-16 {
  font-weight: 400;
  font-style: italic;
  margin: 48px 0 0;
}

.u-section-6 .u-container-layout-8 {
  padding: 10px 20px;
}

.u-section-6 .u-text-17 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-6 .u-text-18 {
  font-weight: 400;
  font-style: italic;
  margin: 48px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 137px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 32px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 833px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 182px;
    grid-template-columns: repeat(4, 25%);
  }

  .u-section-6 .u-list-2 {
    height: auto;
    min-height: 188px;
    margin-top: -1005px;
  }

  .u-section-6 .u-repeater-2 {
    min-height: 182px;
    grid-template-columns: repeat(4, 25%);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 438px;
    width: 720px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -322px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 832px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 558px;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-6 .u-list-2 {
    min-height: 576px;
    margin-top: -1290px;
  }

  .u-section-6 .u-repeater-2 {
    min-height: 558px;
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 424px;
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    font-size: 3rem;
    margin-top: -308px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1741px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 92px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    margin-top: 50px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 681px;
  }

  .u-section-6 .u-list-2 {
    margin-top: 9px;
    height: auto;
    min-height: auto;
  }

  .u-section-6 .u-repeater-2 {
    min-height: 657px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 835px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 624px;
  font-family: Roboto, sans-serif;
  margin: 60px auto 0;
}

.u-section-7 .u-list-1 {
  margin: 54px 0 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 25px));
  min-height: 375px;
  grid-gap: 50px;
}

.u-section-7 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: -30px auto 0 20px;
  padding: 10px;
}

.u-section-7 .u-text-2 {
  font-size: 1.875rem;
  margin: 0 auto 0 28px;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  margin: -8px 0 0 310px;
}

.u-section-7 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-icon-2 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: -30px auto 0 20px;
  padding: 10px;
}

.u-section-7 .u-text-4 {
  font-size: 1.875rem;
  margin: 0 auto 0 28px;
}

.u-section-7 .u-text-5 {
  font-size: 1.25rem;
  margin: -8px 0 0 310px;
}

.u-section-7 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-7 .u-container-layout-3 {
  padding: 0;
}

.u-section-7 .u-icon-3 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: -30px auto 0 20px;
  padding: 10px;
}

.u-section-7 .u-text-6 {
  font-size: 1.875rem;
  margin: 0 auto 0 28px;
}

.u-section-7 .u-text-7 {
  font-size: 1.25rem;
  margin: -8px 0 0 310px;
}

.u-section-7 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-7 .u-container-layout-4 {
  padding: 0;
}

.u-section-7 .u-icon-4 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: -30px auto 0 20px;
  padding: 10px;
}

.u-section-7 .u-text-8 {
  font-size: 1.875rem;
  margin: 0 auto 0 28px;
}

.u-section-7 .u-text-9 {
  font-size: 1.25rem;
  margin: -8px 0 0 310px;
}

.u-section-7 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-7 .u-container-layout-5 {
  padding: 0;
}

.u-section-7 .u-icon-5 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: -30px auto 0 20px;
  padding: 10px;
}

.u-section-7 .u-text-10 {
  font-size: 1.875rem;
  margin: 0 auto 0 28px;
}

.u-section-7 .u-text-11 {
  font-size: 1.25rem;
  margin: -8px 0 0 310px;
}

.u-section-7 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-7 .u-container-layout-6 {
  padding: 0;
}

.u-section-7 .u-icon-6 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: -30px auto 0 20px;
  padding: 10px;
}

.u-section-7 .u-text-12 {
  font-size: 1.875rem;
  margin: 0 auto 0 28px;
}

.u-section-7 .u-text-13 {
  font-size: 1.25rem;
  margin: -8px 0 0 310px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 309px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: -75px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 110px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: -75px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 110px;
  }

  .u-section-7 .u-icon-3 {
    margin-top: -75px;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 110px;
  }

  .u-section-7 .u-icon-4 {
    margin-top: -75px;
  }

  .u-section-7 .u-text-9 {
    width: auto;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 110px;
  }

  .u-section-7 .u-icon-5 {
    margin-top: -75px;
  }

  .u-section-7 .u-text-11 {
    width: auto;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 110px;
  }

  .u-section-7 .u-icon-6 {
    margin-top: -75px;
  }

  .u-section-7 .u-text-13 {
    width: auto;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 110px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-icon-1 {
    margin-top: -125px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
  }

  .u-section-7 .u-icon-2 {
    margin-top: -125px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
  }

  .u-section-7 .u-icon-3 {
    margin-top: -125px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
  }

  .u-section-7 .u-icon-4 {
    margin-top: -125px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 0;
  }

  .u-section-7 .u-icon-5 {
    margin-top: -125px;
  }

  .u-section-7 .u-text-11 {
    margin-left: 0;
  }

  .u-section-7 .u-icon-6 {
    margin-top: -125px;
  }

  .u-section-7 .u-text-13 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
    font-size: 2.25rem;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 20px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: -200px;
  }

  .u-section-7 .u-text-3 {
    margin-top: -6px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 20px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: -200px;
  }

  .u-section-7 .u-text-5 {
    margin-top: -6px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 20px;
  }

  .u-section-7 .u-icon-3 {
    margin-top: -200px;
  }

  .u-section-7 .u-text-7 {
    margin-top: -6px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-right: 20px;
  }

  .u-section-7 .u-icon-4 {
    margin-top: -200px;
  }

  .u-section-7 .u-text-9 {
    margin-top: -6px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-right: 20px;
  }

  .u-section-7 .u-icon-5 {
    margin-top: -200px;
  }

  .u-section-7 .u-text-11 {
    margin-top: -6px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-right: 20px;
  }

  .u-section-7 .u-icon-6 {
    margin-top: -200px;
  }

  .u-section-7 .u-text-13 {
    margin-top: -6px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 38px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-list-1 {
    margin-top: 51px;
    margin-bottom: 38px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 611px;
    grid-gap: 50px 50px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 5px;
    margin-left: 3px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    font-size: 1.125rem;
    margin-top: -38px;
    margin-left: 51px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1rem;
    margin: -5px 13px -1px auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-7 .u-icon-2 {
    margin-top: 5px;
    margin-left: 3px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    font-size: 1.125rem;
    margin-top: -38px;
    margin-left: 51px;
  }

  .u-section-7 .u-text-5 {
    font-size: 1rem;
    margin: -5px 13px -1px auto;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-7 .u-icon-3 {
    margin-top: 5px;
    margin-left: 3px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    font-size: 1.125rem;
    margin-top: -38px;
    margin-left: 51px;
  }

  .u-section-7 .u-text-7 {
    font-size: 1rem;
    margin: -5px 13px -1px auto;
  }

  .u-section-7 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-7 .u-icon-4 {
    margin-top: 5px;
    margin-left: 3px;
  }

  .u-section-7 .u-text-8 {
    width: auto;
    font-size: 1.125rem;
    margin-top: -38px;
    margin-left: 51px;
  }

  .u-section-7 .u-text-9 {
    font-size: 1rem;
    margin: -5px 13px -1px auto;
  }

  .u-section-7 .u-container-layout-5 {
    padding-right: 0;
  }

  .u-section-7 .u-icon-5 {
    margin-top: 5px;
    margin-left: 3px;
  }

  .u-section-7 .u-text-10 {
    width: auto;
    font-size: 1.125rem;
    margin-top: -38px;
    margin-left: 51px;
  }

  .u-section-7 .u-text-11 {
    font-size: 1rem;
    margin: -5px 13px -1px auto;
  }

  .u-section-7 .u-container-layout-6 {
    padding-right: 0;
  }

  .u-section-7 .u-icon-6 {
    margin-top: 5px;
    margin-left: 3px;
  }

  .u-section-7 .u-text-12 {
    width: auto;
    font-size: 1.125rem;
    margin-top: -38px;
    margin-left: 51px;
  }

  .u-section-7 .u-text-13 {
    font-size: 1rem;
    margin: -5px 13px -1px auto;
  }
}